.service{
  background: #FAF7F6;
  position: relative;
}
.service_bg{
  position: relative;
  overflow: hidden;
  .service_another_bg{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url(../images/service_bg.png);
      background-repeat: no-repeat;
      background-position: right top;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      animation: pulse 5s infinite;
    }
  }
  &::before{
    position: absolute;
    content: "";
    background-image: url(../images/service_3_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: pulse 4s infinite;
  }
  &::after{
    position: absolute;
    content: "";
    background-image: url(../images/service_2_bg.png);
    background-repeat: no-repeat;    
    background-position: top right;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    animation: pulse 4s infinite;
  }
}
.service_box{
    background: $white-color;
    /*border-radius: 40px;
    filter: drop-shadow(0 -2.5px -7.6px rgba(226, 200, 191, 0.2));*/
    filter: drop-shadow(0 -2.5px 7.6px rgba(226, 200, 191, 0.2));
    z-index: 1;
    padding: 10px;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
    margin-bottom: 30px;
    .service_inner{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid $service_border_color;
      padding: 25px;
      transition: all 0.4s ease;      
      z-index: 2;
      position: relative;
      .content{
        margin-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        transition: all 0.3s ease;
        z-index: 4;
        h4{
          font-family: $heading-font;
          font-weight: $font-regular;
          font-size: 22px;
          line-height: 24px;
          letter-spacing: .45px;
          color: $second-color;
          margin-bottom: 12px;
          transition: all 0.8s ease;
        }
        p{
          font-family: $paragraph-font;
          font-weight: $font-regular;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: .4px;
          color: $body-color;
          margin-bottom: 8px;
          transition: all 0.9s ease-in-out;
        }
        .btn_service{
          font-family: $paragraph-font;
          font-weight: $font-regular;
          font-size: 11px;
          line-height: 24px;
          letter-spacing: 2.5px;
          color: $primary-color;
          border-bottom: 1px solid $primary-color;
          transition: all 0.9s ease-in-out;
        }
      }
      &::before{
        position: absolute;
        content: "";
        background: transparent;
        opacity: .5;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        z-index: 1;
      }
      .image{
        z-index: 3;
        position: relative;
        img{
          width: 100%;
        }
        &::before{
          position: absolute;
          content: "";
          background: #F4F1EC;
          width: 71px;
          height: 71px;
          border-radius: 100%;
          top: -10px;
          left: -9px;
          z-index: -1;
          opacity: 0;
          transition: all 1.5s ease-in-out;
        }
      }
    }
    .hover_image{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.6s ease;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &::before{
      position: absolute;
      content: "";
      background: transparent;
      opacity: .8;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
      z-index: 1;
    }
    &:hover{
      .hover_image{
        opacity: 1;
      }
      .service_inner{
        border: 1px solid transparent;        
        backdrop-filter: blur(5px);
        &::before{
          background: $service_inner_overlay;
        }
        .image{
          &::before{
            opacity: .1;
          }
        }
      }
      &::before{
        background: $service_hover_overlay;
      }
      .content{
        h4, p, .btn_service{
          color: $white-color;
        }
      }
    }
}
.service{
  .heading_common{
    margin-top: 55px;    
    position: relative;
    z-index: 99;
  }
}
.service_box_two{
    z-index: 1;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
    margin-bottom: 30px;
    .service_inner{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 25px;
      transition: all 0.3s ease;      
      z-index: 2;
      position: relative;
      .content{
        margin-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        transition: all 0.4s ease;
        z-index: 4;
        h4{
          font-family: $heading-font;
          font-weight: $font-regular;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: .45px;
          color: $second-color;
          margin-bottom: 12px;
          transition: all 0.8s ease;
        }
        p{
          font-family: $paragraph-font;
          font-weight: $font-regular;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: .4px;
          color: $body-color;
          margin-bottom: 16px;
          transition: all 0.9s ease-in-out;
        }
        .btn_service{
          font-family: $paragraph-font;
          font-weight: $font-regular;
          font-size: 11px;
          line-height: 24px;
          letter-spacing: 2.5px;
          color: $primary-color;
          border-bottom: 1px solid $primary-color;
          transition: all 0.9s ease-in-out;
        }
      }
      .image{
        z-index: 3;
        position: relative;
        min-width: 50px;
        max-width: 70px;
        img{
          width: 100%;
        }
      }
    }
}
.service_box_two_padding{
  padding: 100px 0 80px 0;
}
.service_home_padding{
  padding: 150px 0 280px 0;
}
.servie_inner_padding{
  padding: 150px 0 120px 0;
}
.dark_version_bg{
  .heading_common{
    h3{
      color: #fff;
    }
  }
}
.dark_version_bg_two{
  .service_box_two{
    .service_inner{
      .content{
        h4{
          color: #fff;
        }
      }
    }
  }
}